# Import Libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read Data

In [6]:
data = pd.read_csv("data/Process_dataset.csv")

In [7]:
data.head(5)

,Company,TypeName,Inches,panel_type_IPS,DisplayType,IsTouchscreen,Resolution_Width,Resolution_Height,CPU_brand,CPU_series_model_gen_type,CPU_speed_GHz,Ram_GB,Total_Memory_Capacity_GB,Type,GPU_Brand,GPU_Series,GPU_model_no,OpSys,Weight_kg,Price
0,Apple,Ultrabook,13.3,1,Retina Display,0,2560,1600,Intel,Core i5,2.3,8.0,128.0,SSD,Intel,Iris Plus,640,macOS,1.37,71378.6832
1,Apple,Ultrabook,13.3,0,Not_given,0,1440,900,Intel,Core i5,1.8,8.0,128.0,Flash Storage,Intel,HD Graphics,6000,macOS,1.34,47895.5232
2,HP,Notebook,15.6,0,Full HD,0,1920,1080,Intel,Core i5 7200U,2.5,8.0,256.0,SSD,Intel,HD Graphics,620,No OS,1.86,30636.0000
3,Apple,Ultrabook,15.4,1,Retina Display,0,2880,1800,Intel,Core i7,2.7,16.0,512.0,SSD,AMD,Radeon Pro,455,macOS,1.83,135195.3360
4,Apple,Ultrabook,13.3,1,Retina Display,0,2560,1600,Intel,Core i5,3.1,8.0,256.0,SSD,Intel,Iris Plus,650,macOS,1.37,96095.8080

# Check Null Values

In [8]:
null_rows = data[data.isnull().any(axis=1)]
print (f"Number of Rows that contain NUll Values: {null_rows.shape[0]}")
data.isnull().sum()

Number of Rows that contain NUll Values: 3

Company                      0
TypeName                     0
Inches                       0
panel_type_IPS               0
DisplayType                  0
IsTouchscreen                0
Resolution_Width             0
Resolution_Height            0
CPU_brand                    0
CPU_series_model_gen_type    0
CPU_speed_GHz                0
Ram_GB                       0
Total_Memory_Capacity_GB     1
Type                         1
GPU_Brand                    0
GPU_Series                   0
GPU_model_no                 1
OpSys                        0
Weight_kg                    1
Price                        0
dtype: int64

In [9]:

#Function To check Null Values

def null_value_checking(dataframe: pd.DataFrame, columns: list):

    null_rows = dataframe[dataframe[columns].isnull().any(axis=1)]
        
    print (f" For {columns} Total Rows that has null values: {null_rows.shape[0]}")

    return(null_rows)

In [10]:
null_value_checking(data, ["Total_Memory_Capacity_GB","Type", "Weight_kg", "GPU_model_no"])

 For ['Total_Memory_Capacity_GB', 'Type', 'Weight_kg', 'GPU_model_no'] Total Rows that has null values: 3

,Company,TypeName,Inches,panel_type_IPS,DisplayType,IsTouchscreen,Resolution_Width,Resolution_Height,CPU_brand,CPU_series_model_gen_type,CPU_speed_GHz,Ram_GB,Total_Memory_Capacity_GB,Type,GPU_Brand,GPU_Series,GPU_model_no,OpSys,Weight_kg,Price
6,Apple,Ultrabook,15.4,1,Retina Display,0,2880,1800,Intel,Core i7,2.2,16.0,256.0,Flash Storage,Intel,Iris Pro,NaN,Mac OS X,2.04,114017.6016
201,Dell,Ultrabook,13.3,0,Full HD,0,1920,1080,Intel,Core i7 8550U,1.8,8.0,256.0,SSD,Intel,HD Graphics,U 620,Windows 10,NaN,77202.7200
749,Dell,Notebook,15.6,0,Full HD,0,1920,1080,Intel,Core i7 7500U,2.7,16.0,NaN,NaN,AMD,Radeon,R7 M445,Windows 10,2.30,62938.0656

In [11]:
''' 
To Drop Null Values

# Drop only if ALL specified columns are null
df = df.dropna(subset=['Inches', 'Resolution'], how='all')

# Drop if ANY of specified columns are null
df = df.dropna(subset=['Inches', 'Resolution'], how='any')

'''

" \nTo Drop Null Values\n\n# Drop only if ALL specified columns are null\ndf = df.dropna(subset=['Inches', 'Resolution'], how='all')\n\n# Drop if ANY of specified columns are null\ndf = df.dropna(subset=['Inches', 'Resolution'], how='any')\n\n"

In [13]:
data = data.dropna(subset=["Total_Memory_Capacity_GB","Type", "Weight_kg","GPU_model_no"], how = 'any')
data_copy = data.copy()
data.isnull().sum()

Company                      0
TypeName                     0
Inches                       0
panel_type_IPS               0
DisplayType                  0
IsTouchscreen                0
Resolution_Width             0
Resolution_Height            0
CPU_brand                    0
CPU_series_model_gen_type    0
CPU_speed_GHz                0
Ram_GB                       0
Total_Memory_Capacity_GB     0
Type                         0
GPU_Brand                    0
GPU_Series                   0
GPU_model_no                 0
OpSys                        0
Weight_kg                    0
Price                        0
dtype: int64

# Check Unique Values in Column

In [7]:
data.nunique()

Company                       19
TypeName                       6
Inches                        24
panel_type_IPS                 2
DisplayType                    7
IsTouchscreen                  2
Resolution_Width              13
Resolution_Height             10
CPU_brand                      3
CPU_series_model_gen_type     93
CPU_speed                     25
Ram_GB                        10
Total_Memory_Capacity_GB      22
Type                           7
GPU_Brand                      4
GPU_series                    25
GPU_model_no                  82
OpSys                          9
Weight_kg                    180
Price                        777
dtype: int64

#### Separate Numerical and Categorical features

In [17]:
numerical_cols = data.select_dtypes(include=['float', 'float64', 'int','int64']).columns.tolist()
categorical_cols = data.select_dtypes(include=['object', 'category']).columns.tolist()

print (f"Total Numerical Column:{len(numerical_cols)}\n {numerical_cols} \n \n Categorical Columns \n {categorical_cols}")

Total Numerical Column:10
 ['Inches', 'panel_type_IPS', 'IsTouchscreen', 'Resolution_Width', 'Resolution_Height', 'CPU_speed_GHz', 'Ram_GB', 'Total_Memory_Capacity_GB', 'Weight_kg', 'Price']

 Categorical Columns
 ['Company', 'TypeName', 'DisplayType', 'CPU_brand', 'CPU_series_model_gen_type', 'Type', 'GPU_Brand', 'GPU_Series', 'GPU_model_no', 'OpSys']

In [22]:
def Unique_value_cat_column(data: pd.DataFrame, cat_columns: list):
    for column in cat_columns:
        
        unique_value = data[column].value_counts()

        print(f"There are {len(unique_value)} unique values in column \"{column}\"")
        print(unique_value)
        print("=============================================")

Unique_value_cat_column(data, categorical_cols)

There are 19 unique values in column "Company"
Company
Lenovo       290
Dell         285
HP           266
Asus         156
Acer         103
MSI           53
Toshiba       47
Apple         20
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
LG             3
Google         3
Huawei         2
Fujitsu        2
Name: count, dtype: int64
=============================================
There are 6 unique values in column "TypeName"
TypeName
Notebook              709
Gaming                203
Ultrabook             189
2 in 1 Convertible    116
Workstation            29
Netbook                24
Name: count, dtype: int64
=============================================
There are 5 unique values in column "DisplayType"
DisplayType
Full HD           822
Not_given         361
4K Ultra HD        42
Quad HD+           29
Retina Display     16
Name: count, dtype: int64
=============================================
There are 3 unique values in column "CPU_brand"
CPU_brand
Intel      1207
Amd          62
Samsung       1
Name: count, dtype: int64
=============================================
There are 93 unique values in column "CPU_series_model_gen_type"
CPU_series_model_gen_type
Core i5 7200U              186
Core i7 7700HQ             143
Core i7 7500U              128
Core i3 6006U               79
Core i7 8550U               71
                          ...
Core i7 6560U                1
Core M 6Y54                  1
Pentium Dual Core 4405Y      1
E-Series 9000                1
Cortex A72&A53               1
Name: count, Length: 93, dtype: int64
=============================================
There are 7 unique values in column "Type"
Type
SSD                  623
HDD                  367
SSD+HDD              196
Flash Storage         71
Hybrid                10
Hybrid + SSD           2
Flash Storage+HDD      1
Name: count, dtype: int64
=============================================
There are 4 unique values in column "GPU_Brand"
GPU_Brand
Intel     701
Nvidia    393
AMD       175
ARM         1
Name: count, dtype: int64
=============================================
There are 13 unique values in column "GPU_Series"
GPU_Series
HD Graphics    687
GeForce GTX    234
Radeon         155
GeForce        127
Quadro          31
Radeon RX       12
Iris Plus       10
FirePro          5
Radeon Pro       3
Iris             3
GTX              1
Graphics         1
Mali             1
Name: count, dtype: int64
=============================================
There are 88 unique values in column "GPU_model_no"
GPU_model_no
620         273
520         197
U 620        65
1050         64
1060         49
           ...
R5 M315       1
M500M         1
R7 M360       1
M3000M        1
T860 MP4      1
Name: count, Length: 88, dtype: int64
=============================================
There are 9 unique values in column "OpSys"
OpSys
Windows 10      1045
No OS             63
Linux             61
Windows 7         45
Chrome OS         27
macOS             13
Windows 10 S       8
Mac OS X           7
Android            1
Name: count, dtype: int64
=============================================

# Exploratory Data Analysis (EDA)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273 entries, 0 to 1272
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company                    1273 non-null   object
 1   TypeName                   1273 non-null   object
 2   Inches                     1273 non-null   float64
 3   panel_type_IPS             1273 non-null   float64
 4   DisplayType                912 non-null    object
 5   IsTouchscreen              1273 non-null   float64
 6   Resolution_Width           1273 non-null   float64
 7   Resolution_Height          1273 non-null   float64
 8   CPU_brand                  1273 non-null   object
 9   CPU_series_model_gen_type  1273 non-null   object
 10  CPU_speed                  1273 non-null   float64
 11  Ram_GB                     1273 non-null   float64
 12  Total_Memory_Capacity_GB   1272 non-null   float64
 13  Type                       1272 non-null   object
 14  GPU_Brand                  1273 non-null   object
 15  GPU_series                 1272 non-null   object
 16  GPU_model_no               1203 non-null   object
 17  OpSys                      1273 non-null   object
 18  Weight_kg                  1272 non-null   float64
 19  Price                      1273 non-null   float64
dtypes: float64(10), object(10)
memory usage: 199.0+ KB

In [10]:
data.describe()

,Inches,panel_type_IPS,IsTouchscreen,Resolution_Width,Resolution_Height,CPU_speed,Ram_GB,Total_Memory_Capacity_GB,Weight_kg,Price
count,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1273.000000,1272.000000,1272.000000,1273.000000
mean,15.129929,0.282011,0.145326,1894.219953,1070.538885,2.298916,8.462687,621.525157,2.077618,59955.814073
std,1.953925,0.450156,0.352568,494.195581,284.400487,0.507118,5.564408,481.133282,0.807808,37332.251005
min,10.100000,0.000000,0.000000,1366.000000,768.000000,0.900000,1.000000,8.000000,0.000200,9270.720000
25%,14.000000,0.000000,0.000000,1600.000000,900.000000,2.000000,4.000000,256.000000,1.500000,31914.720000
50%,15.600000,0.000000,0.000000,1920.000000,1080.000000,2.500000,8.000000,500.000000,2.040000,52161.120000
75%,15.600000,1.000000,0.000000,1920.000000,1080.000000,2.700000,8.000000,1024.000000,2.320000,79333.387200
max,35.600000,1.000000,1.000000,3840.000000,2160.000000,3.600000,64.000000,2560.000000,11.100000,324954.720000